<script lang="ts">
  let name: string = "John";
  let href: string = "https://svelte.dev/tutorial";
  let myCounter: number = 0;
  function incrementMyCounter(): void {
    myCounter++;
  }
</script>

<main>
  <h1>Hello {name}!</h1>
  <p>
    Visit the <a {href}>Svelte tutorial</a> to learn how to build Svelte apps.
  </p>
  <button on:click={incrementMyCounter}>Clicked {myCounter} times!</button>
</main>

<style lang="scss">
  main {
    text-align: center;
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;

    h1 {
      color: #ff3e00;
      text-transform: uppercase;
      font-size: 4em;
      font-weight: 100;
    }
  }

  @media (min-width: 640px) {
    main {
      max-width: none;
    }
  }
</style>
